@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video 
{  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*{
  box-sizing:border-box;
  /* border:1px solid grey;  */
  max-width:100%;
}
/*general styles*/
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
h1{
    font-family: 'Crimson Text', serif;
    font-size: 6rem;
    color: white;
}
h2, h3, h4{
    font-family: 'Crimson Text', serif;
}

h2{
    font-size: 4rem;
    padding: 3%;
    color: #474747;
}
a{
    text-decoration: none;
}
section{
    padding: 2% 0;
}


/*Styles for the header*/
header{
    background-color: #C36;
    padding: 2% 4%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #C36;
}
nav a{
    display: inline;
    text-align: center;
    padding: 1%;
    color: white;
    background-color: #C36;
}
#main-links-container{
    padding: 2%; 
    display: flex;
    justify-content: center;
}
.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/womanworkingatmarket.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-30%, -30%);
    margin: 5%;
    color: white;
}
.hero-text h2{
    font-size: 3.5rem;
    color: white;
}
.hero-text button{
    margin: 0 4% 2%;
    background: #F26522;
    color: white;
    padding: 2%;
    border-radius: 5%;
}

/*middle content*/
#about{
    padding: 2%;
}
.information h2{
    color: #474747;
}
#about .information p{
    background-color: #f4C35F;
    color: white;
    font-size: 2.5rem;
    padding: 4%;
}
.ourservices{
    display: flex;
    flex-direction: row;

}
.newplatform{
    background-color: #F4C35F;
}
h3{
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    padding: 2% 4% 0;
}
.newplatform button{
    margin: 0 4% 2%;
    background: #F26522;
    color: white;
    padding: 2%;
    border-radius: 5%;
}
#services img{
    width: 40%;
}
.newplatform p{
    color: white;
    padding: 2%;
}
.newplatform p .bold{
    color: #F26522;

}

/*testimonials*/
.testimonialboth{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.hero-image2{
    padding: 4%;
    background-image: url("assets/womanholdingchild.jpg");
    width: 40%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.testimonial-one{
    text-align: center;
    position: absolute;
    top: 70%;
    width: 100%;
    transform: translate(-10%, 17%);
    background-color: #9D8D7B;
    color: white;
}
.hero-image3{
    padding: 4%;
    background-image: url("assets/headshptofawoman.jpg");
    width: 40%;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.testimonial-two{
    text-align: center;
    position: absolute;
    top: 70%;
    width: 100%;
    transform: translate(-10%, 17%);
    background-color: #9D8D7B;
    color: white;
}

.testimonialboth p{
    font-size: 1.4rem;
}

/*footer*/
#contact{
    background-color: #C36;
    text-align: center;
}
#contact nav a{
    width:50%;
    text-decoration: none;
    letter-spacing: 2%;
    margin: 2%;
    color: #F26522;
}
#contact nav:hover{
    color: white;
}
#contact h2{
    color: white;
}


