@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video 
{  
margin: 0;  
padding: 0;  
border: 0;
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*{
  box-sizing:border-box;
  /* border:1px solid grey;  */
  padding: 0;
  margin: 0; 
  max-width:100%;
}
/*general styles*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: #474747;
}
h1{
    font-family: 'Crimson Text', serif;
    font-size: 5rem;
    color: #474747;
    letter-spacing: 3px;
    padding: 4%;
}
h2, h3, h4{
    font-family: 'Crimson Text', serif;
    letter-spacing: 3px;
}

h2{
    font-size: 4rem;
    color: #474747;
    padding-left: 4%
}
a{
    text-decoration: none;
    letter-spacing: 1px;
    color:  white;
    font-family: 'Roboto', sans-serif;
}
i{
    font-size: 3rem;
}
section, footer{
    padding: 4% 0;
}

/*Styles for the header*/
header nav{
    position: fixed;
    width: 100%;
    top:0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #C36;
    margin-right: 4%;
}

/*hero image section*/
#main-links-container{
    margin-top: 10%;
    height: 70vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../assets/womanworkingatmarket2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-30%, -30%);
    margin: 5%;
    color: white;
}
.hero-text h2{
    font-size: 3.5rem;
    color: white;
}
.hero-text button{
    margin: 2% 4% 2%;
    background: #F26522;
    border-color: #F26522;
    color: white;
    padding: 2%;
    border-radius: 5%;
    font-size: 2rem;
} */

/*middle content about*/
#about{
    padding: 2%;
}
.information h2{
    color: #474747;
}
#about .information p{
    background-color: #f4C35F;
    width: 100%;
    color: white;
    font-size: 2.5rem;
    padding: 4%;
    margin-bottom: 4%;
}
/*middle content services*/
.ourservices{
    display: flex;
    flex-wrap:wrap;
}
.newplatform, .image{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.newplatform{
    background-color: #F4C35F;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    color: white;
    font-size: 2.7rem;
    font-weight: 100;
    padding: 2% 4% 0;
    text-align: center;
}

.newplatform p{
    width: 100%;
    color: white;
    font-size: 2.5rem;
    padding-left: 4%;
    padding-right: 6%;
    text-align: left;
}
.newplatform p .bold{
    color: #F26522;
}

/*testimonials*/
.testimonialboth{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.heroimage1{
    height: 70vh;
    background-image:url('../assets/womanholdingchild.jpg');
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: flex-end;
}

.heroimage2{
    height: 70vh;
    background-image:url('../assets/headshotofwoman.jpg');
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    align-items: flex-end;
}
h4{
    font-size: 2rem;
    text-align: center;
}
.hide{
    width: 100%;
    color: white;
    background-color: #9D8D7B;
    height: 22vh;
    font-size: 1.6rem;
    display: none;
    padding-left: 2%;
    padding-right: 2%;
}

.heroimage1:hover .hide{
    display:block;
}
.heroimage2:hover .hide{
    display:block;
}
/*footer*/
#contact{
    background-color: #C36;
    text-align: center;
    width: 100%;
}
#contact nav{
    display: flex;
    justify-content: center;
}
#contact nav a{
    margin-top: 2%;
width: 10%;
  color: #f4C35F;
}
#contact nav a:hover{
    color: white;
}
#contact h2{
    color: white;
}

/*Media Query*/

/*desktop 1024px*/
@media (max-width:1024px){
    .links{
        width: 57%;
        font-size: 1.8rem;
        margin-right: 4%;
    }
    h1{
        font-size: 3.7rem;
        padding: 0;
        margin-left:4%;
        letter-spacing: 2px;
    }
    h3{
        font-size: 2.4rem;
        font-weight: 100;
        padding: 2% 4% 5% 0;
        text-align: center;
    }
    .newplatform p{
        padding-right: 6%;
        font-size: 1.9rem;
    }
    h4{
        font-size: 1.8rem;
        text-align: center;
        padding: 0;
        margin: 0;
        letter-spacing: 1px;
    }
    .hide{
        height: 30vh;
        font-size: 1.5rem;
    }
}

/*tablet 800px*/
@media (max-width:800px){

.links{
    width: 60%;
    font-size: 1.5rem;
    padding: 0;
    margin-right: 4%;
}
h1{
    font-size: 2.1rem;
    padding: 0;
    margin-left:4%;
}
.hero-text h2{
    font-size: 3rem;
    color: white;
}
h3{
    font-size: 1.8rem;
    text-align: center;
    padding: 0;
    
}
.newplatform p{
   font-size: 1.6rem;

}
h4{
    font-size: 1.8rem;
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}
.hide{
    height: 30vh;
    font-size: 1.3rem;
}
/*phone 500px*/
}
@media (max-width:500px){
    #main-links-container{
        margin-top: 15%;
    }
    .links{
        width: 85%;
        font-size: 1rem;
        margin-right: 4%;
    }
    h1{
        font-size: 2.1rem;
        padding: 0;
        margin-left:4%;
        text-align: left;
        line-height: 1;
    }
    .hero-text{
        text-align: center;
        width: 90%;
        transform: translate(-35%, -25%);
        margin: 1%;;
        color: white;
    }
    .hero-text h2{
        font-size: 2.7rem;
        color: white;
    }
    h3{
        font-size: 2.2rem;
        text-align: center;
        padding: 0;  
    }
    .hero-text button{
        margin: 2% 4% 2%;
        padding: 2%;
        border-radius: 5%;
        font-size: 1.8rem;
    }
    .ourservices{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newplatform{
        width: 100%;
    }
    .newplatform p{
        padding: 5%;
    }
    .testimonialboth{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .heroimage1{
        height: 70vh;
        width: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        display: flex;
        margin: 10%;
        align-items: flex-end;
    }
    .heroimage2{
        height: 70vh;
        width: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        display: flex;
        margin: 10%;
        margin-top:  0;
        align-items: flex-end;
    }
    h4{
        font-size: 2rem;
    }
    .hide{
        height: 30vh;
        font-size: 1.4rem;
    }
}