@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video 
{  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*{
  box-sizing:border-box;
  /* border:1px solid grey;  */
  padding: 0;
  margin: 0; 
  max-width:100%;
}

/*general styles*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: white;
}
h1{
  font-family: 'Crimson Text', serif;
  font-size: 4rem;
  color: #474747;
  letter-spacing: 3px;
  padding: 4%;
  line-height: 1.2;
}
h2, h3, h4{
    font-family: 'Crimson Text', serif;
    letter-spacing: 3px;
}

h2{
  font-size: 4rem;
  color: #474747;
  padding-left: 4%
}
h3{
  font-size: 4rem;
  color: white;
}
h4{
  font-size: 3rem;
  color: white;
}
a{
  text-decoration: none;
  letter-spacing: 1px;
  color:  white;
  font-family: 'Roboto', sans-serif;
}
i{
  font-size: 3rem;
}

/*Styles for the header*/
header nav{
  position: fixed;
  width: 100%;
  top:0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.links{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #C36;
  margin-right: 4%;
}
section{
  padding: 2%;
}
/*bio section*/
.maintitle{
  margin-top: 7%;
}
.teambio{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  width: 100%;
  color: white;
  background-color: #9D8D7B;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  border: solid;
  border-color: white;
}

.bio-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 2%;
  border: solid;
  border-color: white;
}

.people-img {
  width: 25%;
  height: 35%;
  filter: grayscale(100%);
  padding: 1%;
}
.teambio p{
  color: white;
  font-size: 2rem;
}

/*footer*/
footer{
  padding-bottom: 4%;
}
#contact{
  background-color: #C36;
  text-align: center;
  width: 100%;
}
#contact nav{
  display: flex;
  justify-content: center;
}
#contact nav a{
  margin-top: 2%;
width: 10%;
color: #f4C35F;
}
#contact nav a:hover{
  color: white;
}
#contact h2{
  color: white; 
}

/*Media Query*/

/*desktop 1024px*/
@media (max-width:1024px){
  .links{
    width: 55%;
    font-size: 1.8rem;
    margin-right: 4%;
}
h1{
    font-size: 3.5rem;
    padding: 0;
    margin-left:4%;
    letter-spacing: 2px;
}
.teambio p{
  color: white;
  font-size: 1.6rem;
}
}
/* tablet 800px */
@media (max-width:800px){
  .links{
    width: 55%;
    font-size: 1.5rem;
    padding: 0;
    margin-right: 4%;
}
h1{
    font-size: 2.8rem;
    padding: 0;
    margin-left:4%;
}
.maintitle{
  margin-top: 5%;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.3rem;
}
.teambio p{
  color: white;
  font-size: 1.7rem;
}
.people-img {
  width: 30%;
  height: 35%;
}
}

/* phone 500px */
@media (max-width:800px){

.links{
    width: 85%;
    font-size: 1rem;
    margin-right: 4%;
}
h1{
    font-size: 2.1rem;
    padding: 0;
    margin-left:4%;
    text-align: left;
    line-height: 1;
}
.maintitle{
  margin-top: 10%;
}
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: #9D8D7B;
}
.bio-reverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: #9D8D7B;
}
h3{
  font-size: 2.3rem;
  text-align: center;
}
h4{
  font-size: 2rem;
  text-align: center;
}
.teambio p{
  color: white;
  font-size: 1.4rem;
}
.people-img {
  width: 50%;
}
}